* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #b64073;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    /* 1% of height */
}

.b {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.);
    font-size: 8vmin;
    color: #bd7ea0;
    background-color: #CDD5D1;
    /* 20px of height */
}

#reset {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #CDD5D1;
    border-radius: 1rem;
}

#new {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #CDD5D1;
    border-radius: 1rem;
}

#msg {
    color: #040404;
    font-size: 8vmin;
}

.msg-container {
    height: 30vmin;
}

.hide {
    display: none;
}

hr {
    width: 100%;
    border: none;
    height: 1px;
    background-color: #040404;
}